* {
  margin: 0px;
  color: #474747;
}
.hljs {
  padding: 1.5rem;
  border-radius: 5px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.3);
}

a:link {
  color: rgb(176, 189, 224);
  text-decoration: none;
} /* - a normal, unvisited link*/
a:visited {
  color: rgb(139, 145, 163);
} /* - a link the user has visited*/
a:hover {
  color: rgb(194, 206, 240);
} /* - a link when the user mouses over it*/
a:active {
  color: rgb(63, 73, 98);
} /* - a link the moment it is clicked*/
body {
  display: grid;
  grid-template-rows: 4% 96%;
  grid-template-columns: 25% 75%;
  font-family: "Nunito Sans", sans-serif;
}
.nav {
  grid-row: 1/2;
  grid-column: 2/3;
  background-color: #4b4b56;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
.logo {
  color: #b2b2b9;
  margin: 20px;
  font-size: 1.5rem;
}
.nav-link-ul {
  display: inline;
}
.nav-links {
  display: inline-block;
  margin: 10px;
  color: #9ba3b8;
}

.container {
  grid-row: 2/3;
  grid-column: 2/3;
  margin-left: 100px;
  margin-top: 50px;
  margin-right: 50px;
}

.tocContainer {
  /*
  top: 0rem;
  */
  grid-row: 1/3;
  grid-column: 1/2;
  background: #333333;
}
h1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
p {
  margin: 1rem;
}

h1.code,
h2.code,
h3.code,
h4.code {
  font-size: 1.5rem;
}

table,
th,
td {
  border: none;
  padding: 10px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
  border-collapse: separate;
}
.cross {
  color: rgb(246, 99, 99);
  padding: 5px;
  font-weight: bold;
}

.sidebar {
  padding: 1rem;
}

.tocHeading {
  background: #333333;
  color: #7c7c7c;
  padding: 1rem;
}
.tocChunk {
  padding: 0.3rem;
}
.tocChunk:hover {
  background: #242424;
}
.imgParent {
  text-align: center;
}
.tocChunk-h2 {
  margin-left: 1rem;
}
.tocChunk-h3 {
  margin-left: 2rem;
}

@media only screen and (max-width: 600px) {
  * {
    margin: 0px;
  }
  body {
    display: block;
  }
  .nav {
    display: block;
    width: 100%;
  }
  .logo {
    margin-top: 0px;
    padding: 10px;
  }
  .sidebar {
    width: 100%;
  }
  .container {
    margin: 10px;
  }
}
